/* Style navigation bar*/
li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
li a:hover{
    background-color:orange;
    color: white;
}
button span:hover{
    background-color: orange;
}

/* style home Section */
#img1{
    border-radius: 10%;
}

#img1:hover{
    box-shadow: 12px -12px orange;
}
h1 { color: rgb(0, 115, 255);}
#btn a:hover {
      background-color: darkred;
}

/* style about Section */
#img2 {
    border-radius: 8%;
}
#img2:hover{
    box-shadow: 12px -12px orange;
}

/*Style project Section*/
#procard:hover{
    transform: scale(1.1);
}

/* Style Contact Section*/
#btn1 button:hover{
background-color: darkred;
}
form:hover{
background-color: lightblue;
}

